<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Mission to Mars</title>
  </head>
  <body>
    <div class = "container">
        <div class = "jumbotron">
            <h1>Mission to Mars</h1>
            <a class = "btn btn-primary btn-lg" role="button" href="/scrape" >Scrape Data</a>
        </div>
    </div>

    <div class = "row">
      <div class = "col-md-11">
        <div class = "media">
          <div class = "media-body">
            <h3>The Latest News</h3>
            <h4 class = "heading">{{data.News_Title}}</h4>
            <p>{{data.News_Description}}</p>
            <hr class = "my-4">
          </div>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-7">
            <h3>Mars Image</h3>
            <img src = {{data.Image_URL}}>
            <hr class = "my-4">
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-11">
        <div class = "media">
          <div class = "media-body">
            <h3>Mars Facts</h3>
            {{data.Mars_Facts_Table | safe}}
            <hr class = "my-4">
          </div>
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-7">
            <h3>Hemispheres</h3>
      </div>
      {% for hemisphere in data.Hemisphere_Image_URL %}
      <div class = "col-md-6">
        <img src = "{{hemisphere.URL}}">
        <h3>{{hemisphere.Name}}</h3>
      </div>
      {% endfor %}
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>